body {
    font-family: 'Poppins', sans-serif;
}



/*-------------- Banner Area Starat------------  */
.banner {
    width: 100%;
    background-color: #2d25a0;
}

.banner-area {

    width: 80%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 480px;
    padding: 30px;
    margin: 0 auto;

}

.banner-text {
    width: 50%;

}

.banner-text h1 {
    color: #FFFFF;
    font-size: 60px;
    margin-bottom: 25px;
    color: #FFFFFF;
}

.button-area {
    background-color: #E02C6D;
    width: 168px;
    height: 44px;
    margin-bottom: 167px;
    transition: 0.2s;

}

.button-area:hover {
    color: #255784;
    background: #3dbafd;
    box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;

}

.button-area a {
    text-decoration: none;
    font-size: 16px;
    color: #FFFF;
}

.button-area .fas {
    color: #fff;
}


.banner-picture:hover {
    transform: rotate(10deg);
}

.banner-picture img {
    width: 100%;
}



/* ---------------Player  Area Start --------------- */
.container {
    width: 80%;
    margin: 0 auto;
}

.players {
    background: #FFFFFF;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 60px 0 70px 0;
}

.players-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 28px;
    grid-row-gap: 28px;
}

.player-card {
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    min-width: 80%;
    height: auto;
    padding: 15px;

}

.player-card h2 {
    font-size: 28px;
}

.player-card p {
    font-size: 16px;
}

.player-card img {
    width: 100%;
    height: 256px;
}

/*---- world-cup Section start here  --- */

.container {
    width: 80%;
    margin: 0 auto;
}

.world-cup {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 28px;
    font-family: 'Poppins', sans-serif;
    padding: 60px 0 70px 0;
}

.text-area {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.text-area h1 {
    margin: 0;
    font-size: 48px;
}

.text-area p {
    font-size: 16px;
}

.images-area {
    display: flex;
    align-items: center;
}

.images-area img {
    width: 100%;
}

/* <!----------------- Footer Area Start ------------------------------ --> */

/* Footer Aera Start css  */

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    padding: 60px 0 70px 0;
}

.footer-logo {
    margin-bottom: 20px;
}

.footer-logo img {
    max-width: 483.87px;
}

.socials {
    margin-bottom: 20px;
}

.socials .fab {
    margin-left: 15px;
    padding: 10px;
    border-radius: 50%;
    background-color: #969BAB;
    font-size: 18px;
}

.socials .fab:hover {
    color: aqua;
}

.footer-copyright {
    font-size: 18px;
    text-align: center;
}






/*------------ Responsive Disign  Start ---------------- */

/*---------- For Mobail Devices----------- */


@media only screen and (max-width: 480px) {

    .banner-area {

        display: grid;
        grid-template-columns: repeat(1, 1fr);
        min-height: 500px;
    }

    .button-area {
        background-color: #E02C6D;
        margin-bottom: 20px;
        transition: 0.2s;
        text-align: center;
    }

    .banner-text {
        width: 100%;
    }

    .banner-text h1 {

        font-size: 40px;
        text-align: center;
    }


    /* Player Section  */

    .players-cards {
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 28px;
    }
}

/* World Cup  */
@media only screen and (max-width: 480px) {
    .world-cup {
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 28px;
    }

    .text-area h1 {
        font-size: 30px;
    }

    .text-area p {
        font-size: 16px;
    }
}

/* Footer Area Responsive  */
@media only screen and (max-width: 480px) {
    .footer-logo img {
        max-width: 300px;
    }
}







/* ------------------Tablet Mode  Responsive ----------- */
/* ----------------------------- --------------------------------------------  */

/* Player Section  */

@media only screen and (min-width: 481px) and (max-width: 768px) {
    .players-cards {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (min-width: 768px) and (max-width: 996px) {
    .players-cards {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* World Cup  Responsive */

@media only screen and (min-width: 480px) and (max-width: 768px) {
    .world-cup {
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 28px;
    }

    .text-area h1 {
        font-size: 35px;
    }
}

@media only screen and (min-width: 769px) and (max-width: 996px) {
    .world-cup {
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 28px;
    }

    .text-area h1 {
        font-size: 40px;
    }
}

/* Footer Area Responsive  */

@media only screen and (min-width: 481px) and (max-width: 768px) {
    .footer-logo img {
        max-width: 350px;
    }
}

@media only screen and (min-width: 769px) and (max-width: 996px) {
    .footer-logo img {
        max-width: 400px;
    }
}